/*header-main*/

main {
    margin-top: 5rem;
    /*S1*/
    #header-text-img {
        background-image: url(../img/Rectangle\ 9.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 688px;
        display: flex;
        align-items: center;
        justify-content: center;
        .header-text {
            text-align: center;
            h1 {
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 600;
                font-size: 58px;
                line-height: 120%;
                text-align: center;
                color: #FFFFFF;
            }
            a {
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 350;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
    /*S2*/
    #menyu {
        width: 100%;
        height: 706px;
        background-color: #FFFFFF;
        margin: 50px 0;
        padding: 0 15px;
        .menyu-head {
            text-align: center;
            padding: 50px 0;
            h1 {
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 600;
                font-size: 33.4025px;
                line-height: 131.1%;
                letter-spacing: 0.01em;
                color: #000000;
            }
        }
        .menyu-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 50px;
            .menu-item {
                width: 429px;
                height: 223px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                border: 2px solid #ffffff;
                border-radius: 5px;
                transition: all .3s ease-in-out;
                cursor: pointer;
                &:hover {
                    border: 2px solid #811418;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    transform: scale(1.05);
                }
                .menyu-img {
                    flex-basis: 50%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .menyu-text {
                    flex-basis: 50%;
                    h4 {
                        font-family: 'Segoe UI';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 17.1783px;
                        line-height: 23px;
                        color: #000000;
                    }
                    h5 {
                        font-family: 'Segoe UI';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 21.6198px;
                        line-height: 29px;
                        display: flex;
                        align-items: flex-end;
                        color: #8F161A;
                    }
                    p {
                        font-family: 'Segoe UI';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 11.4522px;
                        line-height: 143.5%;
                        color: #000000;
                    }
                }
            }
        }
        /*MODAL*/
        .products-preview {
            position: fixed;
            top: 0;
            left: 0;
            min-height: 100vh;
            width: 100%;
            background: rgba(0, 0, 0, .8);
            display: none;
            align-items: center;
            justify-content: center;
            padding: 15px;
        }
        .products-preview .preview {
            width: 546.43px;
            max-width: 100%;
            height: 450px;
            display: none;
            padding: 2rem;
            text-align: center;
            background: #fff;
            position: relative;
            border-radius: 5px;
            .products-card {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 100px;
                flex-direction: column;
            }
            img {
                width: 355.26px;
                max-width: 100%;
                height: 177.77px;
                object-fit: contain;
            }
            .card-prices {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h4 {
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 17.1783px;
                    line-height: 23px;
                    color: #000000;
                }
                h5 {
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 21.6198px;
                    line-height: 29px;
                    display: flex;
                    align-items: flex-end;
                    color: #8F161A;
                }
            }
            p {
                width: 70%;
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 400;
                font-size: 11.8421px;
                line-height: 16px;
                text-align: left;
                color: #000000;
            }
        }
        .products-preview .preview.active {
            display: inline-block;
        }
        .products-preview .preview .fa-times {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            cursor: pointer;
            color: rgb(0, 0, 0);
            font-size: 1.5rem;
        }
    }
}