/*header-main*/

main {
    margin-top: 5rem;
    /*S1*/
    #header-text-img {
        background-image: url(../img/Rectangle\ 9.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 688px;
        display: flex;
        align-items: center;
        justify-content: center;
        .header-text {
            text-align: center;
            h1 {
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 600;
                font-size: 58px;
                line-height: 120%;
                text-align: center;
                color: #FFFFFF;
            }
            a {
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 350;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
    /*menyu*/
    #menyu {
        width: 100%;
        height: 706px;
        background-color: #FFFFFF;
        margin: 50px 0;
        padding: 0 15px;
        .menyu-head {
            text-align: center;
            padding: 50px 0;
            h1 {
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 600;
                font-size: 33.4025px;
                line-height: 131.1%;
                letter-spacing: 0.01em;
                color: #000000;
            }
        }
        .menyu-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 50px;
            .menu-item {
                width: 429px;
                height: 223px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                border: 2px solid #ffffff;
                border-radius: 5px;
                transition: all .3s ease-in-out;
                cursor: pointer;
                &:hover {
                    border: 2px solid #811418;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    transform: scale(1.05);
                }
                .menyu-img {
                    flex-basis: 50%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .menyu-text {
                    flex-basis: 50%;
                    h4 {
                        font-family: 'Segoe UI';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 17.1783px;
                        line-height: 23px;
                        color: #000000;
                    }
                    h5 {
                        font-family: 'Segoe UI';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 21.6198px;
                        line-height: 29px;
                        display: flex;
                        align-items: flex-end;
                        color: #8F161A;
                    }
                    p {
                        font-family: 'Segoe UI';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 11.4522px;
                        line-height: 143.5%;
                        color: #000000;
                    }
                }
            }
        }
        /*MODAL*/
        .products-preview {
            position: fixed;
            top: 0;
            left: 0;
            min-height: 100vh;
            width: 100%;
            background: rgba(0, 0, 0, .8);
            display: none;
            align-items: center;
            justify-content: center;
            padding: 15px;
            z-index: 1;
        }
        .products-preview .preview {
            width: 546.43px;
            max-width: 100%;
            height: 450px;
            display: none;
            padding: 2rem;
            text-align: center;
            background: #fff;
            position: relative;
            border-radius: 5px;
            .products-card {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 100px;
                flex-direction: column;
            }
            img {
                width: 355.26px;
                max-width: 100%;
                height: 177.77px;
                object-fit: contain;
            }
            .card-prices {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h4 {
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 17.1783px;
                    line-height: 23px;
                    color: #000000;
                }
                h5 {
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 21.6198px;
                    line-height: 29px;
                    display: flex;
                    align-items: flex-end;
                    color: #8F161A;
                }
            }
            p {
                width: 70%;
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 400;
                font-size: 11.8421px;
                line-height: 16px;
                text-align: left;
                color: #000000;
            }
        }
        .products-preview .preview.active {
            display: inline-block;
        }
        .products-preview .preview .fa-times {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            cursor: pointer;
            color: rgb(0, 0, 0);
            font-size: 1.5rem;
        }
    }
    /*video*/
    #vidoe {
        width: 100%;
        margin-bottom: 50px;
        .video-bg {
            width: 100%;
            position: relative;
            .img1 {
                width: 100%;
                height: 630px;
                object-fit: cover;
                position: relative;
            }
            .img2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
                width: 78px;
                height: 78px;
                object-fit: cover;
                cursor: pointer;
            }
            .vidoe-container {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 9999;
                width: 100%;
                height: 100vh;
                background-color: #0000009a;
            }
            .video-player {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                object-fit: cover;
                i {
                    font-size: 20px;
                    color: #fff;
                    padding: 10px;
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;
                }
                video {
                    width: 100%;
                    height: 650px;
                    object-fit: cover;
                    border-radius: 10px;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .vidoe-container.active {
                display: block;
            }
        }
    }
    #about {
        width: 100%;
        padding: 65px 0;
        background-color: #ffff;
        .about-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .about-text {
                flex-basis: 50%;
                margin-right: 75px;
                h1 {
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 47px;
                    color: #000000;
                }
                p {
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 143.5%;
                    /* or 23px */
                    color: #000000;
                    margin-bottom: 15px !important;
                }
                img {
                    width: 109px;
                    max-width: 100%;
                    height: 68.07px;
                }
            }
            .about-img {
                flex-basis: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                img {
                    width: 274px;
                    max-width: 100%;
                    height: 467.44px;
                    object-fit: cover;
                }
            }
        }
    }
    #elaqe {
        padding: 65px 0;
        .elaqe-container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            .map {
                iframe {
                    max-width: 100%;
                }
            }
            h1 {
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 47px;
                /* identical to box height */
                color: #FFFFFF;
                margin-bottom: 35px;
            }
            form {
                input {
                    background: none;
                    border: none;
                    border-bottom: 1px solid #fff;
                    margin-bottom: 65px;
                    color: #ffff;
                    &:first-child {
                        margin-right: 45px;
                    }
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        font-family: 'Segoe UI';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16.9439px;
                        line-height: 83%;
                        /* or 14px */
                        color: #FFFFFF;
                    }
                }
                .form-btn {
                    background-color: #fff;
                    border: none;
                    width: 180px;
                    height: 41.67px;
                    text-align: center;
                    border-radius: 3.33333px;
                    transition: all .3s ease-in-out;
                    &:hover {
                        opacity: .8;
                    }
                }
            }
            .input-bottom {
                width: 100%;
            }
        }
    }
}