/*header-main*/

main {
    margin-top: 5rem;
    #header-text-img {
        background-image: url(../img/Rectangle\ 9.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 688px;
        display: flex;
        align-items: center;
        justify-content: center;
        .header-text {
            text-align: center;
            h1 {
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 600;
                font-size: 58px;
                line-height: 120%;
                text-align: center;
                color: #FFFFFF;
            }
            a {
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 350;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}