@media (max-width: 1420px) {
    main {
        #menyu {
            height: auto;
            padding-bottom: 15px;
        }
    }
}

@media (max-width: 575.98px) {
    main {
        #header-text-img {
            .header-text {
                h1 {
                    font-size: 40px;
                }
            }
        }
    }
}